In [2]:
import pandas as pd
import requests
import zipfile

pd.options.display.float_format = '{:.4f}'.format

In [3]:
ano = '2022'
mes = '12'
url = f'https://dados.cvm.gov.br/dados/FI/DOC/INF_DIARIO/DADOS/inf_diario_fi_{ano}{mes}.zip'

In [7]:
dowload = requests.get(url)

with open(f'inf_diario_fi_{ano}{mes}.zip','wb') as arquivo_cvm:
    
    arquivo_cvm.write(dowload.content)
    
arquivo_zip = zipfile.ZipFile(f'inf_diario_fi_{ano}{mes}.zip')

In [8]:
dados_fundos = pd.read_csv(arquivo_zip.open(arquivo_zip.namelist()[0]), sep = ';', encoding = 'ISO-8859-1')
dados_fundos

,TP_FUNDO,CNPJ_FUNDO,DT_COMPTC,VL_TOTAL,VL_QUOTA,VL_PATRIM_LIQ,CAPTC_DIA,RESG_DIA,NR_COTST
0,FI,00.017.024/0001-53,2022-12-01,1093517.0000,30.6738,1097086.4800,0.0000,0.0000,1
1,FI,00.017.024/0001-53,2022-12-02,1094076.5800,30.6872,1097567.8900,0.0000,0.0000,1
2,FI,00.017.024/0001-53,2022-12-05,1094638.6700,30.7007,1098050.7100,0.0000,0.0000,1
3,FI,00.017.024/0001-53,2022-12-06,1095200.3400,30.7143,1098536.0700,0.0000,0.0000,1
4,FI,00.017.024/0001-53,2022-12-07,1095464.0200,30.7279,1099020.9400,0.0000,0.0000,1
...,...,...,...,...,...,...,...,...,...
539631,FI,97.929.213/0001-34,2022-12-26,76684544.1700,10.0909,76683936.6200,0.0000,0.0000,2
539632,FI,97.929.213/0001-34,2022-12-27,76630935.4600,10.0896,76673974.5500,0.0000,0.0000,2
539633,FI,97.929.213/0001-34,2022-12-28,76731693.0600,10.1110,76836557.3700,0.0000,0.0000,2
539634,FI,97.929.213/0001-34,2022-12-29,67616216.4800,10.1302,76982947.6800,0.0000,0.0000,2
539635,FI,97.929.213/0001-34,2022-12-30,67700060.7600,10.1412,77066406.2100,0.0000,0.0000,2

In [10]:
dados_cadastro = pd.read_csv('https://dados.cvm.gov.br/dados/FI/CAD/DADOS/cad_fi.csv', sep=';', encoding='ISO-8859-1')
dados_cadastro = dados_cadastro[['CNPJ_FUNDO', 'DENOM_SOCIAL']]
dados_cadastro = dados_cadastro.drop_duplicates()
dados_cadastro

C:\Users\Pichau\AppData\Local\Temp\ipykernel_2308\4230734258.py:1: DtypeWarning: Columns (14,17,18,20,22,24,27,37,38) have mixed types. Specify dtype option on import or set low_memory=False.
  dados_cadastro = pd.read_csv('https://dados.cvm.gov.br/dados/FI/CAD/DADOS/cad_fi.csv', sep=';', encoding='ISO-8859-1')

               CNPJ_FUNDO                                       DENOM_SOCIAL
0      00.000.684/0001-21  DEUTSCHE BANK FDO APLIC QUOTAS FDO INV FINANCE...
1      00.000.731/0001-37  ITAMARITI CASH FUNDO APLICACAO QUOTAS FDOS INV...
2      00.000.732/0001-81  FUNDO APLIC. QUOTAS DE F.I. SANTANDER CURTO PRAZO
3      00.000.740/0001-28  FUNDO DE APLIC EM QUOTAS DE FUNDOS DE INV BMC ...
4      00.000.749/0001-39  BALANCE FUNDO APLICACAO QUOTAS FUNDO INVESTIME...
...                   ...                                                ...
70893  28.850.140/0001-78  FUNDO DE FINANCIAMENTO DA INDUSTRIA CINEMATOGR...
70894  28.912.043/0001-62  HAPVIDA - FUNDO DE FINANCIAMENTO DA INDUSTRIA ...
70895  31.674.280/0001-47  MEDIA VENTURE ESG INCENTIVADO - FUNDO DE FINAN...
70896  32.222.962/0001-81  Fundo de Financiamento da Indústria Cinematogr...
70897  48.879.897/0001-00  FUNDO DE  FINANCIAMENTO DA INDÚSTRIA CINEMATOG...

[62403 rows x 2 columns]

In [12]:
data_inicio_mes = (dados_fundos['DT_COMPTC'].sort_values(ascending = True).unique())[0]
data_fim_mes = (dados_fundos['DT_COMPTC'].sort_values(ascending = True).unique())[-1]

dados_fundos_filtrado = dados_fundos[(dados_fundos['DT_COMPTC'].isin([data_inicio_mes, data_fim_mes]))]

dados_fundos_filtrado

,TP_FUNDO,CNPJ_FUNDO,DT_COMPTC,VL_TOTAL,VL_QUOTA,VL_PATRIM_LIQ,CAPTC_DIA,RESG_DIA,NR_COTST
0,FI,00.017.024/0001-53,2022-12-01,1093517.0000,30.6738,1097086.4800,0.0000,0.0000,1
21,FI,00.017.024/0001-53,2022-12-30,1101258.2300,30.9604,1104335.8500,0.0000,0.0000,1
22,FI,00.068.305/0001-35,2022-12-01,37405993.1800,31.2611,37396214.9000,0.0000,11395.6300,6325
43,FI,00.068.305/0001-35,2022-12-30,37280307.1800,31.5733,37267073.4300,0.0000,0.0000,6300
44,FI,00.071.477/0001-68,2022-12-01,4050002808.7500,11.2531,4049571299.6300,3243205.1400,30019263.2200,69175
...,...,...,...,...,...,...,...,...,...
539591,FI,97.711.801/0001-05,2022-12-30,84865166.6800,2.8370,84832927.1800,0.0000,0.0000,1
539592,FI,97.929.197/0001-80,2022-12-01,149377359.9700,4.8505,149244317.3700,0.0000,0.0000,13
539613,FI,97.929.197/0001-80,2022-12-30,142648863.0800,4.6320,142519765.4300,0.0000,0.0000,13
539614,FI,97.929.213/0001-34,2022-12-01,76260364.6700,10.0330,76243918.8900,0.0000,0.0000,2
539635,FI,97.929.213/0001-34,2022-12-30,67700060.7600,10.1412,77066406.2100,0.0000,0.0000,2

In [13]:
base_final = pd.merge(dados_fundos_filtrado, dados_cadastro, how = 'left', left_on = ['CNPJ_FUNDO'], right_on = ['CNPJ_FUNDO'])

base_final = base_final[['CNPJ_FUNDO', 'DENOM_SOCIAL', 'DT_COMPTC', 'VL_QUOTA', 'VL_PATRIM_LIQ', 'NR_COTST']]

base_final

,CNPJ_FUNDO,DENOM_SOCIAL,DT_COMPTC,VL_QUOTA,VL_PATRIM_LIQ,NR_COTST
0,00.017.024/0001-53,FUNDO DE INVESTIMENTO RENDA FIXA EXPONENCIAL,2022-12-01,30.6738,1097086.4800,1
1,00.017.024/0001-53,FUNDO DE INVESTIMENTO RENDA FIXA EXPONENCIAL,2022-12-30,30.9604,1104335.8500,1
2,00.068.305/0001-35,FUNDO DE INVESTIMENTO EM COTAS DE FUNDOS DE IN...,2022-12-01,31.2611,37396214.9000,6325
3,00.068.305/0001-35,FUNDO DE INVESTIMENTO EM COTAS DE FUNDOS DE IN...,2022-12-30,31.5733,37267073.4300,6300
4,00.071.477/0001-68,BB RENDA FIXA AUTOMÁTICO EMPRESA SIMPLES FUNDO...,2022-12-01,11.2531,4049571299.6300,69175
...,...,...,...,...,...,...
49064,97.711.801/0001-05,953 FUNDO DE INVESTIMENTO EM COTAS DE FUNDOS D...,2022-12-30,2.8370,84832927.1800,1
49065,97.929.197/0001-80,LECT FUNDO DE INVESTIMENTO EM COTAS DE FUNDOS ...,2022-12-01,4.8505,149244317.3700,13
49066,97.929.197/0001-80,LECT FUNDO DE INVESTIMENTO EM COTAS DE FUNDOS ...,2022-12-30,4.6320,142519765.4300,13
49067,97.929.213/0001-34,WHG SISTEMA II FUNDO DE INVESTIMENTO MULTIMERC...,2022-12-01,10.0330,76243918.8900,2
49068,97.929.213/0001-34,WHG SISTEMA II FUNDO DE INVESTIMENTO MULTIMERC...,2022-12-30,10.1412,77066406.2100,2

In [15]:
fundo_primo_rico = base_final[base_final['DENOM_SOCIAL'].str.contains('ARCA GRÃO', na = False)]

fundo_primo_rico

,CNPJ_FUNDO,DENOM_SOCIAL,DT_COMPTC,VL_QUOTA,VL_PATRIM_LIQ,NR_COTST
43165,42.794.402/0001-55,ARCA GRÃO PREVIDÊNCIA FUNDO DE INVESTIMENTO EM...,2022-12-01,1.0200,44837476.5000,1
43166,42.794.402/0001-55,ARCA GRÃO PREVIDÊNCIA FUNDO DE INVESTIMENTO EM...,2022-12-30,1.0117,72419981.3600,1
43175,42.794.534/0001-87,ARCA GRÃO PREVIDENCIA ADVISORY FUNDO DE INVEST...,2022-12-01,1.0200,91472015.0300,1
43176,42.794.534/0001-87,ARCA GRÃO PREVIDENCIA ADVISORY FUNDO DE INVEST...,2022-12-30,1.0117,127025613.9100,1
43407,42.847.903/0001-52,ARCA GRÃO PREVIDÊNCIA MASTER FUNDO DE INVESTIM...,2022-12-01,1.0212,149878891.6300,3
43408,42.847.903/0001-52,ARCA GRÃO PREVIDÊNCIA MASTER FUNDO DE INVESTIM...,2022-12-30,1.0134,217813774.1200,3
43429,42.848.021/0001-01,ARCA GRÃO PREVIDÊNCIA ACCESS FUNDO DE INVESTIM...,2022-12-01,1.0200,14287710.6300,1
43430,42.848.021/0001-01,ARCA GRÃO PREVIDÊNCIA ACCESS FUNDO DE INVESTIM...,2022-12-30,1.0118,19406296.3700,1

In [19]:
fundo_primo_rico_master = fundo_primo_rico[(fundo_primo_rico['CNPJ_FUNDO'] == '42.847.903/0001-52') & 
(fundo_primo_rico['DT_COMPTC'] == '2022-12-30')]

patrimonio_do_fundo = 'R$ ' + str((fundo_primo_rico_master['VL_PATRIM_LIQ'].iloc[0]/1000000).round(2)) + 'MM'

patrimonio_do_fundo

'R$ 217.81MM'

In [20]:
fundo_primo_rico_fic = fundo_primo_rico[(fundo_primo_rico['CNPJ_FUNDO'] == '42.794.402/0001-55')]

retorno_dez = ('Retorno fundo: ' +
              str(((fundo_primo_rico_fic['VL_QUOTA'].iloc[-1]/fundo_primo_rico_fic['VL_QUOTA'].iloc[0] - 1)
                  * 100).round(2))
              + '%')

retorno_dez

'Retorno fundo: -0.81%'